.quote-title {
  background-color: orange;
}

.quote {
  display: flex;
}
.quote p {
  animation: marquee 5s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
